:root{ 
  --primario: skyblue;
  --secundario: white;
  --fuenteprincipal:'Dancing Script', cursive;
  --fuentesecundaria:'PT Sans', sans-serif;
}

html{
    box-sizing: border-box;
      font-size: 62.5%;
  }
*, *:before, *:after{
    box-sizing: inherit
}

body{
  background-color: var(--primario);
  font-family: var(--fuentesecundaria);
}

 /*GLOBALES*/
 .contenedor{
    width: 95%;
    max-width: 1150px;
    margin: 0 auto;
   }

 .centrar-texto{
    text-align: center;
   }

 .seccion{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1rem 0rem;
 }

 .no-margin{
     margin: 0px;
 }

 img{
   max-width: 100%;
 }

 .separacion{
  margin-top: 40px;
}

.clearfix::after{
  content:'';
  clear: both;
  display: block;
}

 /****BOTONES****/
.btn{
  display: block;
  text-align: center;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'PT sans', sans-serif;
  font-weight: 700;
  padding: 1rem 3rem;
  margin: 0rem 0rem 2rem 0rem;
  text-transform: uppercase;
  font-size: 2rem;
  flex: 0 0 100%;
}
.btn:hover{
  cursor: pointer;
}
@media(min-width:768px){
  .btn{
      display: inline-block;
      flex: 0 0 auto;
  }
}

.btn-primario{
  background-color: skyblue;
}

.btn-secundario{
  background-color: white;
  color: #000000;
}

.ver-todos{
  display: flex;
  justify-content: flex-end;
}

.d-block{
  display: block!important;
}

/*Header*/
.site-header{
    background-color: #000000e3; 
    padding: 10px 0 15px 0;
  }

  .site-header.inicio{
      background-image: url(../img/header1.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      min-height: 600px;
  }

  .barra{
      padding-top: 15px;
      text-align: center;
  }

  @media(min-width:768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
  }

  /*NAVEGACION*/
  .navegacion a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
  }

  .navegacion a:hover{
    color:skyblue;
}

  @media(min-width:768px){
    .navegacion a{
          display: inline-block;
          margin-right: 20px;
          font-size: 22px;
      }

    .navegacion a:last-of-type{
        margin: 0;
    }
    .navegacion a:hover{
            color:skyblue;
    }
  }

/****MOBIL MENU****/
.mobile-menu img{
    width: 50px;
}

@media(min-width:768px){
  .mobile-menu{
      display: none;
  }
}

.navegacion:target{
  display: block;
}

.navegacion{
  display: none;
}

@media(min-width:768px){
  .navegacion{
      display: block;
  }   
}

/****Texto-HEADER***/

.texto-header{
  text-align: center;
  color: #ffffff;
  margin-top: 4.5rem;
}

.texto-header h2{
  font-size: 3.2rem;
  line-height: 1;
}

.texto-header p{
  font-size: 2.5rem;
  margin-top: 8px;
}

@media(min-width:786px){
  .texto-header{
      margin-top: 15rem;
  }

  .texto-header p{
    font-size: 2.8rem;
  }

  .texto-header h2{
    font-size: 3.4rem;
  }
}

/****intro***/
.intro .encabezado-info{
  color: skyblue;
  padding-top: 10px;
  text-align: center;
}
.intro .texto-info{
  padding-bottom: 0px;
  margin-bottom: 8px;
}

/****ASIDE NOVEDADES****/

.novedades h2{
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 2.4rem;
  font-family: var(--fuenteprincipal)
}
.ofertas{
  background-color: var(--secundario);
  border-radius: 5px;
  margin-bottom: 5px;
}

.cupon{
  border:5px dotted coral;;
}
.cupon .descuento{
  color: coral;
}
.cupon .texto-descuento2 span{
  color: coral;
}

.descuento{
  color: var(--primario);
  font-family: var(--fuenteprincipal);
  font-size: 4rem;
  text-align: center;
  margin: 0px 10px;
  padding-top: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

@media(min-width:786px){
  .descuento{
    font-size: 4.2rem;
  }
}
.texto-descuento{
  color:white;
  font-size: 7rem;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 95px;
  background-color: red;
  border-radius: 90%;
  padding: 15px 3px;
}
.texto-descuento2{
  margin: 10px 8px 0px 8px;
  color: black;
  font-size: 2rem;
  text-align: center;
  line-height: 2;
}
.texto-descuento2 span{
  color: var(--primario);
  text-transform: uppercase;
  font-weight: bold;
}

.btn-cupon{
  margin: 10px 5px;
  text-align: center;
  padding-bottom: 5px;
}
.btn-cupon a{
  border-radius: 50%;
  background-color: coral;
  color: white;
}
.img-nueva img{
  display: inline-block;
  height: 450px;
  width: 100%;
}

.img-nueva p{
  text-align: center;
  color: var(--primario);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 11px;
  margin-top: 12px;
}

@media(min-width:768px){
  .img-nueva img{
    height: 420px;
    margin-top: 10px;
    width: 100%;
    padding: 0px 5px;
  }
  .texto-imagen{
    display: flex;
    justify-content: space-around;
  }
}

@media(min-width: 768px){
  .sidebar{
      display: grid;
      grid-template-columns: 30% 70%;
      column-gap: 2rem;
    }
    aside{
      grid-row: 1/2;
      grid-column: 2/3;
    }

    article{
      grid-column: 1/2;
    }
  }

  
/*INFORMACION DEL MAPA*/

.informacion{
  background-color: var(--secundario);
  margin-bottom: 10px;
}
.encabezado-info{
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-size: 4rem;
  font-weight: bold;
  font-family: var(--fuenteprincipal);
  padding-top: 30px;
  padding-bottom: 0px;
  margin: 0px;
}

.encabezado-info span{
  display: block;
  font-size: 2.8rem;
  font-family: var(--fuenteprincipal);
  font-weight: bold;
  color: skyblue;
}

@media(min-width:786px){
.encabezado-info{
 text-align: left;
 font-size: 5rem;
}

.encabezado-info span{
 text-align: left;
 margin: 0px 0px 0px 50px;
 font-size: 3.8rem;
}
}

.texto-info{
  font-size: 2rem;
  text-align: justify;
  padding-top: 0px; padding-right: 5px; padding-left: 5px; padding-bottom: 0px;
  line-height: 2;
}

/****MAIN DISEÑOS****/

main h2{
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 2.4rem;
  font-family: var(--fuenteprincipal);
  margin-top: 0px;
}

@media(min-width:768px){
  .contenedor-diseños{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
}

.diseños{
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  background: #F5F5F5;
  margin-bottom: 20px;
}
@media(min-width:768px){
.diseños:hover{
  transform: scale(1.1);
  border: 2px solid var(--primario);
  box-shadow: 0px 0px 50px #666;
}
}

.diseños img{
  display: inline-block;
  height: 420px;
  width: 500px;
}

@media(min-width:768px){
  .diseños{
      flex: 0 0 calc(33.3% - 1.8rem);
}
.diseños img{
  display: inline-block;
  height: 350px;
  width: 400px;
}
}

.contenido-diseño{
  padding: 20px 20px 10px 20px;
}

.contenido-diseño h3{
  margin: 0px;
  font-size: 1.8rem;
}

.contenido-diseño p{
  margin: 10px 0px;
  font-size: 1.6rem;
  line-height: 1.8;
  text-align: justify;
}

.precio{
  color: var(--primario);
  font-weight: bold;
}
.precio span{
  color: black;
}

.iconos-caracteristicas{
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  flex:1;
}

.iconos-caracteristicas li{
  display: flex;
}

.iconos-caracteristicas li p{
  margin-right: 15px;
  font-size: 1.8rem;
}

.iconos-caracteristicas li p i{
  color: skyblue;
  font-size: 1.8rem;
}

/*****CONTACTO*****/
.imagen-contacto{
  background-image: url(../img/imagen\ contacto.png);
  background-position: center center;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.contenido-contacto{
  flex: 0 0 95%;
  color: #ffffff;
}
.contenido-contacto p{
  font-size: 2rem;
  font-family: var(--fuentesecundaria);
  line-height: 2;
}
.contenido-contacto h2{
  font-size: 2.6rem;
  font-family: var(--fuentesecundaria);
  text-align: left;
}

/****TESTIMONIALES*****/
section h2{
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 2.4rem;
  font-family: var(--fuenteprincipal);
  margin-top: 0px;
}

@media(min-width:768px){
  .testimoniales{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4.6rem;
  }
}

.testimonial{
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  background: #F5F5F5;
  margin-bottom: 20px;
}

.testimonial p{
  font-size: 2rem;
  font-family: var(--fuentesecundaria);
  line-height: 2;
  padding: 0px 20px 0px 20px;
  margin:0px 0px;
}
.testimonial img{
    display: inline-block;
    height: 500px;
    width: 550px; 
}

.usuario{
  display: flex;
  justify-content: center;
  background-color:black;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}
.usuario img{
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.usuario h3{
  color: var(--primario);
  font-size: 2rem;
  font-family: var(--fuentesecundaria);
  text-align: center;
  padding: 8px 0px;
}

/****FOOTER****/
.site-footer{
  background-color: #353535;
  padding-top: 10px;
  margin-bottom:0px;
}
.contenido-footer{
  text-align: center;
}
@media(min-width:768px){
  .contenido-footer{
    display: flex;
    justify-content: space-between;
  }
}
  .propietaria h3{
    text-transform: uppercase;
    color:var(--secundario);
    font-size: 2.4rem;
    font-family: var(--fuentesecundaria);
    margin-top: 20px;
  }
  .propietaria h3 span{
    color: var(--primario);
  }
  .propietaria p{
    color: white;
    font-size: 2rem;
    font-family: var(--fuentesecundaria);
  }
  @media(min-width:768px){
    .propietaria p{
      text-align: center;
    }
  }
  
.redes-sociales h2{
  text-transform: uppercase;
  color: white;
  font-size: 2.4rem;
  font-family: var(--fuentesecundaria);
}
.redes-sociales h2 span{
  color: var(--primario);
}

footer .redes a{
  font-size: 30px;
  margin-right: 30px;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  padding-top: 2px;
}

.copyright{
  background-color: #2e2e2e;
  color: white;
  padding: 10px 0px;
  margin: 20px 0px 0px 0px;
  text-align: center;
  font-size: 1.8rem;
}

/*"Color a iconos redes sociales*/
.face{
  color: rgb(60, 60, 204);
}
.twi{
  color: skyblue;
}
.ins{
  color: palevioletred;
}
.wha{
  color: green;
}

/****PAGINA INFORMACION, QUE ES MAPA ESTELAR****/
/*iconos nosotros*/
.icono{
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 12px;
}
.icono img{
  display: inline-block;
  height: 100px;
  width: auto;
  padding-top: 10px;
}
.icono h3{
  font-size: 2rem;
  font-family: var(--fuentesecundaria);
  font-weight: bold;
}
.icono p{
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.6;
}
@media(min-width:768px){
  .icono{
    margin-bottom: 0px;
  }
  .iconos-nosotros{
  display: flex;
  justify-content: space-between;
  
}
}
.icono{
  text-align: center;
}

@media(min-width:768px){
  .icono{
       flex-basis: calc(33.3% - 1rem);
  }
}

.icono h3{
  text-transform: uppercase;
}

.pagina2 .barra{
  padding-top: 0px;
  margin: 0px;
}
.barra a{
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 15px;
}
.barra a h1{
  font-size: 3rem;
  font-family: var(--fuenteprincipal);
  color: white;
  margin-top: 35px;
}
.barra a h1 span{
  color: var(--primario);
}

main .contenedor{
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}
main .contenedor p{
  padding-left: 10px;
  padding-right: 10px;
}
main .informacion{
  border: 2px solid skyblue;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 21px 0px rgba(0,0,0,0.74);
  -moz-box-shadow: 0px 10px 21px 0px rgba(0,0,0,0.74);
  box-shadow: 0px 10px 21px 0px rgba(0,0,0,0.74);
}
main .encabezado-info{
  margin-left: 12px;
}

.constelacion .texto-info{
  margin-top: 5px;
}

.informacion img{
  width: 100%;
}
@media(min-width:786px){
  .informacion img{
      display: block;
      width: 300px;
      float: left;
      margin: 10px 10px 0 0;
      padding: 0px 10px;
  }
}

.informacion ul{
  padding-left: 50px;
}
.informacion ul li{
  font-size: 2rem;
  line-height: 2;
  text-align: justify;
  padding-top: 0px; padding-right: 5px; padding-left: 5px; padding-bottom: 0px;
}
@media(min-width:786px){
  .informacion ul{
    padding-left: 100px;
  }
}

.qr .texto-info{
  margin-top: 0px;
}
.qr img{
  width: 100%;
}
@media(min-width:786px){
  .qr img{
    display: block;
    width: 300px;
    height: 190px;
  }
}

.img-spotify .texto-info{
  margin-top: 0px;
}
.img-spotify img{
width: 100%;
}
@media(min-width:786px){
  .img-spotify img{
    display: block;
    width: 310px;
    height: 140px;
  }
}

/*PAGINA NOSOTROS*/
@media(min-width:786px){
  .contenido-nosotros{
    display: flex;
    justify-content: space-between;
  }
  .espacio-flex{
    flex-basis: calc(50% - 1rem);
  }

  .img-nosotros img{
    display: inline-block;
    height: 600px;
    width: 600px;
  }
}
.texto-nosotros blockquote{
  font-weight: 900;
  font-size: 2.3rem;
  margin: 0;
  text-align: center;
}
.texto-nosotros p{
  font-size: 1.9rem;
  text-align: justify;
  line-height: 1.8;
}

/*PAGINA TESTIMONIALES*/
main .testimonial img{
  height: 350px;
  }
main .usuario img{
  width: 40px;
  height: 40px;
  }

@media(min-width:580px){
  main .testimoniales{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    column-gap: 1rem;
  }
  main .testimonial img{
    height: 350px;
  }
  main .usuario img{
    width: 40px;
    height: 40px;
    }
}

@media(min-width:768px){
  main .testimoniales{
    grid-template-columns: repeat(3, 1fr);
  }
  main .testimonial img{
    height: 350px;
  }
  main .usuario img{
    width: 40px;
    height: 40px;
  }
}

@media(min-width:992px){
    main .testimoniales{
      grid-template-columns: repeat(4, 1fr);
    }
    main .testimonial img{
      height: 350px;
    }
    main .usuario img{
      width: 40px;
      height: 40px;
    }
  }






